body {
    background-color: rgb(72, 72, 72);
}

* {
    transition: all 0.35s ease-in-out;
    font-family: 'Inconsolata', monospace;
}

a {
    margin: 7px;
    color: #fff;
    font-size: 38px;
}

.box {
    margin: 0;
    background-color: #1A1A1A;
    border-radius: 15px;
    padding: 1.5%;
    font-size: 33px;
    box-shadow: #000000 0 0px 15px;
    text-decoration: none;
    align-items: center;
}

michalbox {
    width: 340px;
}

kubabox {
    width: 430px;
}

jacabox {
    width: 450px;
}

text {
    position: relative;
    align-items: center;
    justify-items: center;
    font-family: 'Fuzzy Bubbles', cursive;
    margin-left: 39%;
    font-size: 40px;
}

text::before {
    content: attr(data-text);
    position: absolute;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    animation: animate 4.5s linear infinite;
    filter: drop-shadow(0 0 20px #fff)
}

@keyframes animate {
    0%,
    10%,
    100% {
        width: 0;
    }
    70%,
    90% {
        width: 100%;
    }
}

.avatars {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #1A1A1A;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    min-height: 40px;
    min-width: 0;
    outline: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 150px;
    will-change: transform;
}

.avatars:disabled {
    pointer-events: none;
}

.avatars:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.avatars:active {
    box-shadow: none;
    transform: translateY(0);
}
